.container-fluid
    div(ng-if="mustlog")
        span You must 
        a(ng-click="openLoginModal()") log in
        span  or 
        a(href="#/signup") sign up
        span  before you can proceed.
    div(ng-if="!mustlog")
        .container
            h1 Your decks
                a.btn.btn-success.pull-right(href="#/deck/new") Create a deck
            .panel.panel-primary(ng-repeat="deck in member.decks | orderBy: 'creationDate':true")
                .panel-heading
                    .panel-title
                        a(href="#/deck/{{deck.id}}/") {{deck.name}}
                        a(ng-click="deleteDeck(deck)", tooltip="Delete", tooltip-placement="top", tooltip-trigger="mouseenter").pull-right.glyphicon.glyphicon-trash
                        a(href="#/deck/{{deck.id}}/edit", tooltip="Edit", tooltip-placement="top", tooltip-trigger="mouseenter").pull-right.glyphicon.glyphicon-pencil
                .panel-body
                    p {{deck.description}}
                    .row
                        .col-sm-3(ng-repeat="tuple in deck.cards")
                            .thumbnail
                                a(href='#/card/{{tuple.card.id}}', ng-click="openCardModal($event, tuple.card.id)")
                                    img.small-card-image(ng-src='{{cdnLocation + "card/" + tuple.card.id + ".jpg"}}', alt='{{tuple.card.name}}', tooltip="{{tuple.card.name}}", tooltip-placement="top", tooltip-trigger="mouseenter")

    script(type="text/ng-template", id="DeleteDeckConfirm.html")
        .modal-header
            <h3 class="modal-title">Caution</h3>
        .modal-body
            p Are you sure you want to delete this deck ? (This cannot be undone)
        .modal-footer
            button.btn.btn-danger(ng-click="confirm()") Confirm
            button.btn.btn-default(ng-click="cancel()") Cancel