.container-fluid
    div(ng-if="mustlog")
        span You must 
        a(ng-click="openLoginModal()") log in
        span  or 
        a(href="#/signup") sign up
        span  before you can proceed.
    div(ng-if="!mustlog")
        .container
            h1 Your combos
                a.btn.btn-success.pull-right(href="#/combo/new") Create a combo
            .panel.panel-primary(ng-repeat="combo in member.combos | orderBy: 'creationDate':true")
                .panel-heading
                    .panel-title
                        a(href="#/combo/{{combo.id}}/") {{combo.name}}
                        a(ng-click="deleteCombo(combo)", tooltip="Delete", tooltip-placement="top", tooltip-trigger="mouseenter").pull-right.glyphicon.glyphicon-trash
                        a(href="#/combo/{{combo.id}}/edit", tooltip="Edit", tooltip-placement="top", tooltip-trigger="mouseenter").pull-right.glyphicon.glyphicon-pencil
                .panel-body
                    p {{combo.description}}
                    .row
                        .col-sm-3(ng-repeat="tuple in combo.cards")
                            .thumbnail
                                a(href='#/card/{{tuple.card.id}}', ng-click="openCardModal($event, tuple.card.id)")
                                    img.small-card-image(ng-src='{{cdnLocation + "card/" + tuple.card.id + ".jpg"}}', alt='{{tuple.card.name}}', tooltip="{{tuple.card.name}}", tooltip-placement="top", tooltip-trigger="mouseenter")

    script(type="text/ng-template", id="DeleteComboConfirm.html")
        .modal-header
            <h3 class="modal-title">Caution</h3>
        .modal-body
            p Are you sure you want to delete this combo ? (This cannot be undone)
        .modal-footer
            button.btn.btn-danger(ng-click="confirm()") Confirm
            button.btn.btn-default(ng-click="cancel()") Cancel