.container
    .row
        .col-xs-3
            img.card-image(ng-src='{{card.img}}', alt='{{card.name}}')
        .col-xs-9
            p {{card.type}
            p.well(ng-repeat="line in card.text") 
                span(ng-bind-html="line | mana:'small'")
            p.well(ng-repeat="line in card.flavor") 
                em {{line}}
            p.well
                span.lead Decks containing this card
            p.well
                span.lead Combos containing this card