.modal-content
    .modal-header
        button.close(ng-click="cancel()")
            span(aria-hidden='true') ×
            span.sr-only Close
        div
            span.modal-title(ng-class="{common: card.rarity == 'COMMON' || card.rarity == 'BASIC_LAND', uncommon: card.rarity == 'UNCOMMON', rare: card.rarity == 'RARE', mythic: card.rarity == 'MYTHIC_RARE'}") {{card.name}}
            span.pull-right(ng-bind-html="card.manaString | mana:'medium'")
    .modal-body
        .container-fluid
            .row
                .col-xs-6
                    img.card-image(ng-if="card.id", ng-src='{{cdnLocation + "card/" + card.id + ".jpg"}}', alt='{{card.name}}')
                .col-xs-6
                    p {{card.type}}
                    .well.text-justify
                        p(ng-repeat="line in card.text")
                            span(ng-bind-html="line | mana:'small'")
                    .well.text-justify(ng-if="card.flavorText.length > 0")
                        p(ng-repeat="line in card.flavorText")
                            i(ng-bind-html="line")
    .modal-footer
        a.btn.btn-default(href="#/card/{{card.id}}" ng-click="cancel()") Go to card page
        button.btn.btn-primary(ng-if="!hideCartButton", ng-click="addToCart(card)") Add to cart ({{card.price | number:2}} €)