.container
    .row
        .col-xs-3
            img.card-image(ng-src='{{cdnURL + "cards/card/" + card.id + ".jpg"}}', alt='{{card.name}}')
        .col-xs-9
            p {{card.type}}
            span(ng-bind-html="card.manaString | mana:'medium'")
            p.well(ng-repeat="line in card.text") 
                span(ng-bind-html="line | mana:'small'")
            p.well(ng-repeat="line in card.flavorText") 
                em {{line}}
            p.well
                span.lead Decks containing this card
                p(ng-repeat="deck in decks")
                    {{deck.name}}
            p.well
                span.lead Combos containing this card
                p(ng-repeat="combo in combos")
                    {{combo.name}}