.container
    .row
        .col-xs-3
            img.card-image(ng-src='{{cdnLocation + "card/" + card.id + ".jpg"}}', alt='{{card.name}}')
        .col-xs-9
            h3(ng-class="{common: card.rarity == 'COMMON' || card.rarity == 'BASIC_LAND', uncommon: card.rarity == 'UNCOMMON', rare: card.rarity == 'RARE'}")  {{card.name}}
                span.pull-right(ng-bind-html="card.manaString | mana:'medium'")
                //.clearfix
            p {{card.type}}
            .well
                p(ng-repeat="line in card.text") 
                    span(ng-bind-html="line | mana:'small'")
            .well
                p(ng-repeat="line in card.flavorText") 
                    em {{line}}
            div(ng-if="decks.length > 0")
                h5 Decks containing this card
                p(ng-repeat="deck in decks")
                    a(href="#/deck/{{deck.id}}"){{deck.name}}
                    span  by 
                    a(href="#/player/{{deck.member.id}}"){{deck.member.username}}
            div(ng-if="combos.length > 0")
                h5 Combos containing this card
                p(ng-repeat="combo in combos")
                    a(href="#/combo/{{combo.id}}"){{combo.name}}
                    span  by 
                    a(href="#/player/{{deck.member.id}}"){{deck.member.username}}