.container-fluid
    p.well
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi magna. Nam faucibus dolor sed tortor faucibus sodales sed id eros. Donec pellentesque eros non rhoncus pretium. Sed id neque nulla. Nullam vitae lacinia tellus, in euismod tellus. Praesent et mauris commodo sem auctor consectetur. Proin ultricies placerat justo, et ultricies risus commodo vitae. Cras ac purus vitae dolor molestie vehicula.
    h2 Your cart
    .container-fluid
        .row
            .col-xs-6.col-sm-4.col-md-2.col-lg-2(ng-repeat="tuple in $storage.cart.cards")
                .thumbnail
                    a(href='#/card/{{tuple.id}}', ng-click="openCardModal($event, tuple.card.id, true)")
                        img.card-image(ng-src='{{cdnURL + "cards/card/" + tuple.card.id + ".jpg"}}', alt='{{tuple.card.name}}', tooltip="{{tuple.card.name}}", tooltip-placement="top", tooltip-trigger="mouseenter")
                    .caption
                        .row
                            .well.text-center {{tuple.quantity}} &times; {{tuple.card.price | number:2}} € = {{tuple.quantity*tuple.card.price | number:2}} €
                        .row
                            .col-xs-6
                                .input-group.bootstrap-touchspin
                                    input.form-control.spinner-input(type='text', name='spin', ng-model='tuple.quantity')
                                    span.input-group-btn-vertical
                                        button.btn.btn-default.bootstrap-touchspin-up(type='button', ng-click="addToCart(tuple.card, 1)")
                                            i.glyphicon.glyphicon-plus
                                        button.btn.btn-default.bootstrap-touchspin-down(type='button', ng-click="addToCart(tuple.card, -1)")
                                            i.glyphicon.glyphicon-minus
                            .col-xs-6
                                button.btn.btn-danger(ng-click="removeFromCart(tuple.card)")
                                    span Remove
                            
