.container
    h3 {{combo.name}} by 
        a(href="#/player/{{combo.member.id}}"){{combo.member.username}}
        button.pull-right.btn.btn-success(ng-click="addAllToCart()") Add all to cart
    p.well {{combo.description}}
    .row
        .col-sm-2(ng-repeat="tuple in combo.cards | orderBy: 'card.convertedManaCost'") 
            .thumbnail(ng-class="{'combo-favorite': tuple.favorite}")
                a(href='#/card/{{tuple.card.id}}', ng-click="openCardModal($event, tuple.card.id)")
                    img.small-card-image(ng-src='{{cdnLocation + "card/" + tuple.card.id + ".jpg"}}', alt='{{tuple.card.name}}', tooltip="{{tuple.card.name}}", tooltip-placement="top", tooltip-trigger="mouseenter")
                    span.quantity-overlay x {{tuple.quantity}}