.container
    h3 {{deck.name}}
    p {{deck.description}}
    .row
        .col-sm-3(ng-repeat="tuple in deck.cards") 
            .thumbnail(ng-class="{'deck-favorite': tuple.favorite}")
                a(href='#/card/{{tuple.card.id}}', ng-click="openCardModal($event, tuple.card.id)")
                    img.card-image(ng-src='{{cdnURL + "cards/card/" + tuple.card.id + ".jpg"}}', alt='{{tuple.card.name}}', tooltip="{{tuple.card.name}}", tooltip-placement="top", tooltip-trigger="mouseenter")
                    span.quantity-overlay x {{tuple.quantity}}