.container(ng-if="displayEdit")
    form
        .form-group
            label(for="deckName") Name
            input#deckName.form-control(type="text", ng-model="deck.name", style="width: 200px;")
            span.pull-right(ng-if="deck.color.black") 
                img(src='/cards/symbol/medium/B.jpg')
            span.pull-right(ng-if="deck.color.blue") 
                img(src='/cards/symbol/medium/U.jpg')
            span.pull-right(ng-if="deck.color.green") 
                img(src='/cards/symbol/medium/G.jpg')
            span.pull-right(ng-if="deck.color.red") 
                img(src='/cards/symbol/medium/R.jpg')
            span.pull-right(ng-if="deck.color.white") 
                img(src='/cards/symbol/medium/W.jpg')
        .form-group
            label(for="deckDescription") Description
            textarea#deckDescription.form-control(type="text", ng-model="deck.description")

    button.btn.btn-success(ng-click="openSearchModal()") Add card
    .row
        .col-sm-3(ng-repeat="tuple in deck.cards") 
            .thumbnail
                a(href='#/card/{{tuple.card.id}}', ng-click="openCardModal($event, tuple.card.id)")
                    img.small-card-image(ng-src='{{cdnLocation + "card/" + tuple.card.id + ".jpg"}}', alt='{{tuple.card.name}}', tooltip="{{tuple.card.name}}", tooltip-placement="top", tooltip-trigger="mouseenter")
                .caption
                    .container-fluid
                        .row
                            .col-xs-6
                                .input-group.bootstrap-touchspin
                                    input.form-control.spinner-input(type='text', name='spin', ng-model='tuple.quantity')
                                    span.input-group-btn-vertical
                                        button.btn.btn-default.bootstrap-touchspin-up(type='button', ng-click="addToDeck(tuple.card, 1)")
                                            i.glyphicon.glyphicon-plus
                                        button.btn.btn-default.bootstrap-touchspin-down(type='button', ng-click="addToDeck(tuple.card, -1)")
                                            i.glyphicon.glyphicon-minus
                            .col-xs-6
                                button.btn.btn-danger(ng-click="removeFromDeck(tuple.card)")
                                    span Remove
                        .row
                            .checkbox
                                label
                                    input(type="checkbox", ng-checked="tuple.favorite", ng-disabled="!canfavorite", ng-model="tuple.favorite")
                                    span Card is highlight of deck
    span Total : {{numberOfCards}} cards
    button.btn.btn-default.pull-right(ng-click="saveDeck()", ng-disabled="numberOfCards < 15") Save
    div
        span.progress-mana(ng-bind-html="'[0]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.zero")
            {{manaCosts.zero}}
    div
        span.progress-mana(ng-bind-html="'[1]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.one")
            {{manaCosts.one}}
    div
        span.progress-mana(ng-bind-html="'[2]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.two")
            {{manaCosts.two}}
    div
        span.progress-mana(ng-bind-html="'[3]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.three")
            {{manaCosts.three}}
    div
        span.progress-mana(ng-bind-html="'[4]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.four")
            {{manaCosts.four}}
    div
        span.progress-mana(ng-bind-html="'[5]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.five")
            {{manaCosts.five}}
    div
        span.progress-mana(ng-bind-html="'[6]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.six")
            {{manaCosts.six}}
    div
        span.progress-mana(ng-bind-html="'[7]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.seven")
            {{manaCosts.seven}}
    div
        span.progress-mana(ng-bind-html="'[8]' | mana:'small'")
        progressbar(max="15", animate="false", value="manaCosts.eightplus")
            {{manaCosts.eightplus}}

    script(type="text/ng-template", id="CardSearchModal.html")
        .modal-header
            <h3 class="modal-title">Search</h3>
        .modal-body
            form(role='search', ng-submit="doSearch()")
                .input-group
                    input.form-control(type='text', placeholder='Search', ng-model="form.name")
                    span.input-group-btn
                        button.btn.btn-default(type="submit") Search
            .container
                p(ng-if="cards.length == 0") No cards to display
                p(ng-if="cards.length > 0" ng-repeat="card in cards")
                    a(ng-click="select(card)", ng-class="{common: card.rarity == 'COMMON' || card.rarity == 'BASIC_LAND', uncommon: card.rarity == 'UNCOMMON', rare: card.rarity == 'RARE', mythic: card.rarity == 'MYTHIC_RARE'}") {{card.name}}
                    span(ng-bind-html="card.manaString | mana:'small'")
        .modal-footer
            button.btn.btn-default(ng-click="cancel()") Cancel